.terms
    padding: 100px 0px
    &__wrap
        padding: 0 16px
    &__title
        color: #4CC458
        font-size: 32px
    &__subtitle
        color: #CCCCCC
        font-size: 18px
        font-weight: normal
    p
        color: #4CC458
        font-size: 24px
        font-weight: 600